<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="EPLinuxSource" value="http://192.168.1.7:17071/" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
  <apikeys>
    <add key="https://www.nuget.org" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAIr2Ke6YhNkmGZn0OSPUXJwAAAAACAAAAAAAQZgAAAAEAACAAAACXw93kN0Gd5g4UCt7NeTxrWihCPZvUOXfFI8i4TPRo9wAAAAAOgAAAAAIAACAAAAATZV8j92CPhYB9LJ9DT4ANMswggyytrL334j2pMrDRaDAAAAACkc0dsmSUCnssho7PJp3FbMhbKvu/a5Q64pWHHOn6koB2ffnlkEE7BinxFWjCS6RAAAAAhZqeUK1nk46sQY2RD/vZbW8T2RyAiXYGI0dWZ+8ppJ+Dqk1/59HIDKuddBh1EbP0M7hrVlmzBLwBY4SbUoUzIA==" />
    <add key="http://192.168.1.7:17071/" value="3cdb9803-86f9-4750-9615-338f14f0c814" />
  </apikeys>
</configuration>